html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.dropdown-item {
    white-space: normal !important;
    overflow-wrap: break-word !important;
    max-width: 300px !important;
}

.fixed-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    background-color: #f8f9fa;
}

/***********************************************/

/* style cho sao đánh giá sản phẩm */
.stars {
    display: grid;
    grid-template-columns: repeat(5, auto);
    font-size: 1.8rem;
    color: #ccc;
    cursor: pointer;
    margin-bottom: 0.5rem;
    justify-content: start;
    position: relative;
}

/* Ẩn các radio buttons */
.stars {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    color: #ccc;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.stars input {
    display: none;
}

.stars label {
    color: #ccc;
    text-shadow: 0 0 1px #000;
    margin-right: 0.1rem;
    position: relative;
    z-index: 1;
}

/* Khi radio button được chọn, tô màu vàng từ ngôi sao được chọn và tất cả các ngôi sao bên trái */
.stars input:checked~label,
.stars label:hover~label {
    color: #FFD700;
}

.stars label:hover,
.stars label:hover~label {
    color: #FFD700;
}

/*********************************************************/

/* Css cho nút phân trang */
.pagination {
    justify-content: center;
}

.page-item.disabled .page-link,
.page-item .page-link {
    border: none;
    font-size: 0.875rem;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

/*********************************************************/

/* Điều chỉnh kích thước và vị trí của dấu chấm đỏ cho thông báo*/
.position-relative {
    position: relative;
}

#pending-orders-count, 
#pending-count {
    width: 10px;
    height: 10px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* Tạo hình tròn */
}

#pending-orders-count::before,
#pending-count::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #dc3545;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 5px;
}

/*********************************************************/
